body {
    margin: 0;
    padding: 0;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

.navbar-brand img {
    display: inline-block;
    margin-top: -5px;
}

.navbar-brand span {
    margin-left: 5px;
}

.navbar.navbar-inverse {
    background-image: none;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #444;
    color: #F0F0F0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F0F0F0;
}

.navbar-inverse .navbar-nav > li > a .glyphicon {
    text-align: center;
    line-height: 20px;
    min-width: 20px;
}

.navbar-inverse .badge {
    display: block;
    position: absolute;
    top: 8px;
    right: 5px;
    background-color: #D9534F;
}

.navbar-inverse .profile-thumbnail {
    float: left;
    height: 32px;
    width: 32px;
    margin: -6px 10px -6px 0;
}

.navbar-nav > li > .dropdown-menu {
    border-radius: 0px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #262626;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu > li > a {
    position: relative;
    padding-right: 70px;
}

.dropdown-menu > li > a.dropdown-toggle {
    padding: 3px 20px;
}

.dropdown-menu > li > a > .text-muted {
    position: absolute;
    right: 10px;
    top: 3px;
}

.mindmap-editor {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 250px;
}

.mindmap-editor.disabled {
    background-color: #ddd;
}

.mindmap-editor .empty-message {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15%;
}

.mindmap-editor .navbar {
    display: none;
}

.mindmap-editor .navbar-nav > li > a {
    padding: 10px;
    color: #333;
}

.mindmap-editor .navbar-nav > li > a:hover {
    background-color: #eeeeee;
}

.mindmap-editor .navbar {
    border-radius: 0;
    min-height: 0;
}

.mindmap-editor .navbar-text {
    margin: 10px;
    font-style: italic;
}

.mindmap-editor .mindmap {
    position: fixed;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 250px;
}

.modal-dialog {
    margin: 10% auto;
}

.notification {
    position: fixed;
    display: none;
    top: 10%;
    left: 50%;
    z-index: 10000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.bold {
    font-weight: bold;
}

.colorpicker .colorpicker-saturation {
    width: 150px;
    height: 150px;
}

.colorpicker .colorpicker-hue,
.colorpicker .colorpicker-alpha {
    width: 22.5px;
    height: 150px;
}

.colorpicker .colorpicker-color,
.colorpicker .colorpicker-color div {
    height: 22.5px;
}

.colorpicker-element .input-group-addon i {
    border: 1px solid #999;
}

#profil_container {
    min-height: 460px;
    position: absolute;
    display: block;
    top: 50px;
    width: 30%;
    right: -20px;
    height: 50%;
    background: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.profile-sidebar {
    padding: 20px 0 10px 0;
    position: relative;
    height: 60%;
}

.profile-userpic img {
    float: none;
    margin: 5px 5px 5px 5px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-usermenu {
    margin-top: 30px;
    position: relative;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}
/* Profile Content */

.profile-content {
    position: relative;
    padding: 20px;
    min-height: 460px;
}